// Fonts
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@200;300;400;500;600;700;900&display=swap');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

body {
    font-family: 'Noto Serif TC', serif;
    font-size: 14px;
    background: #faf1ed;
}

/* header */

.navbar-static-top {
    border-color: #fff;
    background-color: #fff;
    box-shadow: 0px 1px 11px 2px rgba(42, 42, 42, 0.1);
    border-top: 4px solid #113285;
    border-bottom: 1px solid #e8e8e8;
    margin-top: 0px;
}

.navbar-light .navbar-toggler {
    border: none;
}

.navbar-brand {
    font-weight: 900;
    font-size: 36px;
    margin-right: 3rem;
}

/* main */
.slider{
    background: url("https://images.pexels.com/photos/1704120/pexels-photo-1704120.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    width:100%;
}
.slogan{
    margin: 100px 0;
}
.slogan h1, .slogan h2{
    font-family: "Noto Sans TC";
    color: #fff;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
}
.slogan h1{
    font-size:4rem;
}

.first-form{
    background: #fff;
    border-radius: 1rem;
    h3{
        width:168px;
    }
}
.form-control{
    background-color: #fff;
    border: 1px solid #cccfdb;
    border-radius: 0.5rem;
    color: #001959;
    font-size: 1rem;
    line-height: 1.25rem;
    padding: 0 0.75rem;
    width: 100%;
    height: 3rem;
    padding-left: 3rem;
}
label{
        color: #465280;
        display: block;
        line-height: 1rem;
        margin-bottom: 0;
        overflow: hidden;
        pointer-events: none;
        white-space: nowrap;
        width: 100%;
}
.box select .form-control{
    box-sizing: border-box;
    height: 100%;
    padding: 32px 16px 0;
    width: 100%;
    border: none;
    border-bottom: 2px solid transparent;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 700;
}
.life-form{
    max-width:600px;
    margin:auto;
    width:100%;
}

.box label {
    position: absolute;
    top: 16px;
    left: 16px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width: calc(100% - 16px);
}

.btn-primary{
    line-height: 1.25rem;
    padding: 1rem 1.75rem;;
    border-width: 0;
    background-color: #000;
    border: 1px solid #000;
    color: #fff;
}
.btn-primary:hover {
    color: #000;
    background-color: #fff;
    border: 1px solid #000;
}

/* understand */
.main{
    .explain{
        font-size: 36px;
        line-height: 42px;
        margin-bottom: 42px;
        position: relative;
        color: #000;
        text-align: center;
        font-weight: 900;
        letter-spacing: .025em;
        :before {
            display: block;
            content: "";
            position: absolute;
            top: calc(50% - 2px);
            left: 0;
            right: 0;
            z-index: -1;
            border-bottom: 1px solid #000;
        }
        .title {
            display: inline-block;
            box-sizing: border-box;
            max-width: calc(100% - 48px);
            margin-left: auto;
            margin-right: auto;
            background-color: #faf1ed;
            padding: 0 12px;
        }
        
    }
    .card{
        border: none;
        .card-title{
            margin-bottom:0;
        }
    }
}




/* Ziwei */

.ziwei {
    .card{
        border-radius: 1rem;
        padding-bottom: 1.5rem!important;
        opacity: 1 !important;
        box-shadow: rgba(45,45,45,0.05) 0px 2px 2px, rgba(49,49,49,0.05) 0px 4px 4px, rgba(42,42,42,0.05) 0px 8px 8px, rgba(32,32,32,0.05) 0px 16px 16px, rgba(49,49,49,0.05) 0px 32px 32px, rgba(35,35,35,0.05) 0px 64px 64px;
        text-align: justify;
        .card-title{
            font-size:1.5rem;
        }
        
        .card-text{
            font-size: 1rem;
        }
    }
}

.star-card{
    background: url('https://images.pexels.com/photos/2007137/pexels-photo-2007137.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
    color: #fff;
    border:none!important;
}

.city-card{
    background: url('https://images.pexels.com/photos/3559235/pexels-photo-3559235.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
    color: #fff;
    border:none!important;
}

.work-card{
    background: url('https://images.pexels.com/photos/313782/pexels-photo-313782.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
    color: #fff;
    border:none!important;
}

.sky-card{
    background: url('https://images.pexels.com/photos/1703314/pexels-photo-1703314.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
    color: #fff;
    border:none!important;
}

.gold-card{
    background: url('https://images.pexels.com/photos/366551/pexels-photo-366551.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
    color: #fff;
    border:none!important;
}

.sea-card{
    background: url('https://images.pexels.com/photos/1450361/pexels-photo-1450361.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
    color: #fff;
    border:none!important;
}

.lovekiss {
    background-image: linear-gradient(to top, #ff0844 0%, #ffb199 100%);
    color: #fff;
}

.coldevening {
    background-image: linear-gradient(to top, #0c3483 0%, #a2b6df 100%, #6b8cce 100%, #a2b6df 100%);
    color: #fff;
}

.octobersilence{
    background-image: linear-gradient(-20deg, #b721ff 0%, #21d4fd 100%);
    color: #fff;
}

.accordion .card{
    padding-bottom: 0!important;
}

.years{
    margin-top: 20px;
}

.years .btn-link {
    color: #000;
    text-decoration: none;
}    


.years .btn-link:hover {
    text-decoration: none;
}

/* Footer */
footer{
    background: #000;
    color: #faf1ed;
}